@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@font-face {
    font-family: headerFont;
    src: url('font.ttf');
}

* {
	font-family: 'Titillium Web', sans-serif;
}

.container, body {
	background: #F5F5F5;
	margin: 0;
	padding: 0;
}

.container .header {
	font-family: headerFont !important;
	border-bottom: 7px solid #F6DF00;
	margin: 0;
	padding: 0;

	height: 350px;
	margin-bottom: 25px;
	background: url('https://s3-eu-west-1.amazonaws.com/cdn.adacollege.org.uk/page/_1600x730_crop_center-center_75/parents.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
	
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header h1, h3 {
	font-family: headerFont !important;
	margin: 0;
	margin-left: 50px;
}

.header .title {
	background: white;
	width: 100%;
	padding: 25px;
}

.content {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 70px;

	font-size: 2em;
}

.content #_LABEL_INPUT label {
	width: 50%;
	text-align: left;
	margin: 0;
}

.content h4 {
	font-weight: 600;
}

.content input {
	width: 50%;
	font-size: .55em;
	border: none;
	margin: auto;
	background: #F5F5F5;
	box-shadow: 0px 0px 10px #CDCDCD;
	border-radius: 2px;
	padding: 10px;
	margin-top: 15px;
}

.content button {
	width: 50%;
	font-size: .55em;
	border: none;
	background: #44AAE7;
	color: white;
	margin: auto;
	box-shadow: 0px 0px 10px #CDCDCD;
	border-radius: 2px;
	padding: 10px;
}

.content button:hover {
	cursor: pointer;
	opacity: 0.4;
}

#_LABEL_INPUT, #_LABEL_OUTPUT {
	padding: 25px !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	background: white;
	font-size: 0.8em;
}

#_LABEL_INPUT {
	border-left: 7px solid #44AAE7;
}

#_LABEL_OUTPUT {
	border-left: 7px solid #86C42D;
	margin-top: 25px !important;
}